---
layout: default
comments: true
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<article class="post">
  <q><b>Note:</b> Most of these blogs are for my personal reference and at a given time, some of those might just be unpolished drafts.</q>
 
 <h1>{{ page.title }}</h1>

{% if page.tags.size > 0 %}
<div>
<ul class="tag_list_in_post">
<emph> Tags: </emph>
{% for tag in page.tags %}
<a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>
{% endfor %}
</ul>
</div>
{% endif%}

  

  <div class="entry">
    {{ content }}
  </div>

 
 
 {% include share-bar.html %}
  


  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
